<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
  <section class="main-section">
    <h2 class="main-section__title"><%= title %></h2>
    <h3 class="main-section__subtitle"><%= subtitle %></h3>
  </section>
  <% if(users && users.length > 0) { %>
  <%- include('partials/users/list') %>
  <% } else { %>
  <section>
    <h3>Ops... não encontramos registros em nosso banco de dados</h3>
  </section>
  <% } %>
</main>
<%- include('partials/footer') %>