<section class="users">
  <table class="users__table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Função</th>
      </tr>
    </thead>
    <tbody>
      <% for(let user of users) { %>
      <tr id="user<%= user.id %>" class="user">
        <td class="user__id"><%= user.id %></td>
        <td class="user__name"><%= user.nome %></td>
        <td class="user__lastname"><%= user.sobrenome %></td>
        <td class="user__email"><%= user.email %></td>
        <td class="user__pass"><%= user.senha %></td>
        <td class="user__function"><%= user.id_funcao === 1 ? 'Admin' : 'Usuário Final' %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</section>