<section id="editUserSection" class="edit-user">
  <form action="/users/<%= user.id %>" method="POST" class="form">
    <div class="form__input-container">
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="nome" required placeholder="Benedito" value="<%= user.nome %>">
    </div>
    <div class="form__input-container">
      <label for="sobrenome">Sobrenome</label>
      <input type="text" name="sobrenome" id="sobrenome" required placeholder="Calixto" value="<%= user.sobrenome %>">
    </div>
    <div class="form__input-container">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required placeholder="bene@dito.com" value="<%= user.email %>">
    </div>
    <div class="form__input-container">
      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" required placeholder="Senha123" value="<%= user.senha %>">
    </div>
    <div class="form__btns">
      <button>Editar Usuário</button>
    </div>
  </form>
</section>